langchain
langchain-community
transformers
pandas
numpy
PyPDF2 
faiss-cpu 
tiktoken
huggingface_hub==0.28.0
unstructured[pdf]
sentence-transformers
chromadb
sentencepiece
streamlit
torch 
torchvision
torchaudio
openai
boto3
django
mysqlclient