/* static/css/style.css */

body {
    background-color: #f8f9fa;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.card {
    border-radius: 1rem;
}

.card-header {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.btn-success {
    background-color: #198754;
    border: none;
}

.btn-success:hover {
    background-color: #157347;
}

footer {
    font-size: 0.9rem;
    color: #6c757d;
}
